/tv_001/*.user

/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/Makefile
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/Makefile.Debug
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/Makefile.Release
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/debug/epg_db.exe
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/debug/epgloader.o
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/debug/main.o
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/debug/moc_epgloader.cpp
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/debug/moc_epgloader.o
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/debug/moc_qtquick2applicationviewer.cpp
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/debug/moc_qtquick2applicationviewer.o
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/debug/qtquick2applicationviewer.o
/epg/build-epg_db-Desktop_Qt_5_1_1_MinGW_32bit-Debug/qml/epg_db

/epg/epg_db/*.user
/TwoListView/*.user
build-TwoListView-Desktop_Qt_5_1_1_MinGW_32bit-Debug

/build-tv_002-Desktop_Qt_5_1_1_MinGW_32bit-Debug

/tv_002/tv_002.pro.user

*.user
